*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.output.txt

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
Old/
dist/

docs/

.DS_Store
Thumbs.db

*.gitignored*

# Added by mle-best-practices
logs/
yarn-debug.log*
yarn-error.log*
.logs/
pids
*.pid
*.seed
*.pid.lock
lib-cov/
.nyc_output/
.grunt
bower_components
build/Release
jspm_packages/
typings/
.npm
.eslintcache
*.tgz
.yarn-integrity
*-audit.json
.env
app/
.gen/
*gitignored*
*gitignored

# Added by mle-best-practices
./app/
./dist/

# Added by mle-best-practices
*private*

# Added by mle-best-practices
disti/

# Added by mle-best-practices
bower_components/
build/
pids/